{% extends 'blog/base.html' %}

{% block title %}About Us - Kuza Ndoto{% endblock %}

{% block content %}
    
    <section>
        <h1>About Kuza Ndoto Campaign</h1>
        <p>At Kuza Ndoto Campaign, we believe that every dream has the power to shape the future. Our mission is to inspire and empower high school students to turn their aspirations into reality, one step at a time. Together, we’re building a generation of confident, capable, and visionary leaders ready to change the world.</p>
    </section>
{% endblock %}
